.legend{
    width: 220px;
  }

  .contactLegend{
    width: 94px;
  }

  .homeLegend{
    width: 152px;
  }

  .expirenceLegend{
    width: 130px;
  }

  .educationLegend{
    width: 130px;
  }
  
  .fieldset{
    border: 3px solid;
  }

  .personalLegend {
    width: 230px;
  }

  .homeLegend{
    width:180px
  }